/* contact.css */


/* Form Header */
.form-header {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  font-size: 50px;
  color: black;
  text-align: center;
}

/* Form Container */
.form-container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(210, 210, 210, 0.5); 
  border-radius: 6px; 
}

.input-container {
  margin-bottom: 30px;
}

.message-container {
  margin-top: 25px;
}

/* Input and Message Containers */
.input-container,
.message-container {
  width: 650px;
  position: relative;
}

.input-container input,
.message-container textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border: 1px solid rgba(210, 210, 210, 0.5); 
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.input-container input::placeholder,
.message-container textarea::placeholder {
  color: #bbb;
  font-family: "Open Sans", sans-serif;
}

.input-container input:focus,
.message-container textarea:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.message-container textarea {
  resize: vertical;
  min-height: 120px;
}

/* Submit Button */
.submit-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #6658a7; 
  color: black;
  padding: 15px 30px;
  border: 2px; 
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #718e83
}

/* Media queries */

@media (max-width: 750px) {
  /* Form Container */
  .form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(210, 210, 210, 0.5); 
    border-radius: 6px; 
  }

    /* Input and Message Containers */
  .input-container,
  .message-container {
    width: 80%;
    position: relative;
  }
}

@media (max-width: 500px) {
  /* Form Container */
  .form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(210, 210, 210, 0.5); 
    border-radius: 6px; 
  }

    /* Input and Message Containers */
  .input-container,
  .message-container {
    width: 80%;
    position: relative;
  }
}


