.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-bottom: 75px;
}

.projects-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 30px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-name {
  font-weight: bold; /* Optional, to differentiate the project name */
  font-size: 17.5px;
  font-family: 'Open sans', sans-serif;
}

.project-technologies {
  color: grey;
  font-style: italic;
  font-size: 12.5px;
  font-family: 'Open sans', sans-serif;
}


.accordion-container {
  width: 100%; /* Adjust width to match the container */
  max-width: 1200px; /* Optional: Set a max width */
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
}

.accordion-button {
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.accordion-panel {
  font-size: 1em;
  height: 200px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.accordion-item {
  height: 250px; /* Set a fixed height for each item, including button and panel */
}

  